extends layout
block link
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  #home.intro
    .intro-message.container
      h1 404
      h3 Woops, Something went wrong!
      h3
        a(href="/") Go back to home page
