footer
  .container
    .row
      .col-lg-12
        #center Coded by Qiang Sun and Xue Yu
        #center Copyright&copy;Sport Partner | TIME: <span id="time"></span>&nbsp| Last Modified at <span id="lastmodified"></span>
          include footer.js
