extends layout
block link
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-mZN2QbvwGy6IVwgdz-hmoMo_PFtvzRU")
  script(type='text/javascript').
      var dist =  !{JSON.stringify(dist)};
      var host = !{JSON.stringify(host)};
  include map.js    
block content  
    div#map
    div 
